
Notes.txt
pyirsdk-master/irsdk.py
pyirsdk-master/LICENSE
pyirsdk-master/MANIFEST.in
pyirsdk-master/README.md
pyirsdk-master/setup.py
pyirsdk-master/tutorials/01 Introduction.md
pyirsdk-master/tutorials/02 Using irsdk script.md
pyirsdk-master/tutorials/03 Base application.md
